<div class="container">

<h1 class="titulo">Seja bem-vindo, conheça os nossos produtos</h1>

<div class="produto">

    {{#each produto}}

        <div class="container-produto">
            <h3>Produto : {{ this.titulo}}</h3>  
                <p>Marca : {{this.marca}}</p>   
                <p>Preço : R${{this.preco}}</p> 
                <a href="/produtos/{{this.id}}"><button>Comprar Produto</button></a>
        </div>

    {{/each}}
</div>


</div>
