<div class="container">
    <div class="produto-id">
        
    <h1>{{produtos.titulo}}</h1>
    <img src="{{produtos.img}}" alt="">
    <p>R${{produtos.preco}}</p><br><br>
    <a href="/"> <button>voltar</button> </a>
</div>
    
</div>


